.box-container {
    width: 550px;
}

@media only screen and (max-width: 600px) {
  .box-container {
    margin-left: 10px;
    width: 300px;
  }
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.05); 
}